body {
background-image: url("ffoottoo.jpg");
background-size:1366px;
background-attachment: fixed;
}
  #wrapper {
  max-width: 960px;
  margin: auto;
}
header {
  padding: 20px 0;
}
header {
  padding: 20px 0;
}
form[name="search"] {
 display: flex;
 flex-direction:row;
}
nav a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-position: inside;
  font: 14px 'Oswald', sans-serif;
  padding: 10px;
}

.top-menu li {
  display: inline-flex;
  padding: 10px 30px;
  margin: 0;
}

.top-menu li.active {
  background: #eeb9a2;
  color: #ffffff;
}

.top-menu a {
  color: #000000;
}
aside {
  display: flex;
  flex-direction: column;
  width: 250px;
}
section {
  margin-left: 280px;
  padding-bottom: 50px;
}
.aside-menu li {
  font-weight: 300;
  list-style-type: square;
  border-top: 1px solid #eeb9a2;
}

.aside-menu li:first-child {
  border: none;
}

.aside-menu li.active {
  color: #eeb9a2;
}

.aside-menu a {
  color: #000000;
}
blockquote {
  margin: 0;
  background: #eeb9a2;
  padding: 10px 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  display: flex;
  flex-flow: column;

}

blockquote p {
  color: #fff;
  font-style: italic;
  font-size: 33px;
  margin: 0;
  display: flex;
  flex-flow: column;
}

blockquote cite {
  display: flex;
  height: 100px;
  font-size: 20px;
  font-style: normal;
  color: #1d8ea6;
  margin: 0;
  text-align: right;
  
}
figure {
  display: inline-flex;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;

}

figure img {
  display: flex;
  border: 1px solid #fff;
  outline: 1px solid #c9c9c9;
}

figure figcaption {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}

figure figcaption span {
  display: flex;
  font-size: 14px;
  color: #29c5e6;
}
section > figure + figure + figure + figure {
  margin-left: 28px;
}
footer {
  background: #7e7e7e;
  color: #dbdbdb;
  font-size: 11px;
}

#footer {
  max-width: 960px;
  margin: auto;
  padding: 10px 0;
  height: 90px;
}
footer a {
  color: #dbdbdb;
}

#sitemap {
  width: 150px;
  float: left;
  margin-left: 20px;
  padding-right: 15px;
}

#sitemap div {
  display: inline-flex;
}

#sitemap div + div {
  margin-left: 40px;
}

#sitemap a {
  display: flex;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}

#sitemap a:hover {
  text-decoration: underline;
}
figure figcaption {
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}

figure div {
  font-size: 14px;
  color: #29c5e6;
}


